<div class="register-container pb-4">
    <legend>Register</legend>
    <form name="registration-form" id="registration-form" class="registration-form" method="post" action="#"
        enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
        </div>

        <button type="button" id="register" name="register" class="btn btn-success">Register Now</button>
    </form>
</div>