#toast-container {
    width: 100%;
    margin-top: 2%;
    
    .bg-success  {
        .toast-header {
            background-color: $color-lightseagreen;
        }

        .toast-body {
            background-color: var(--bs-teal);
        }
    }

    .bg-error {
        background-color: var(--bs-danger);
        
        .toast-body {
            background-color: $color-lightcoral;
        }
    }

    .fade {
        opacity: 0;
        transition: opacity 0.15s linear;
    }
    
    .fade.show {
        opacity: 1;
    }
}



section.login-register {
    legend {
        font-size: 50px;
        font-weight: $font-weight-bolder;
        text-align: center;
        letter-spacing: 5px;
        color: white;
    }

    label {
        position: absolute;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        visibility: hidden;
        pointer-events: none;

    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-width: 0;
        border-radius: 5px;
        font-size: 16px;

        // placeholder text center
        &::placeholder {
            // padding-left: 10px;
        }

        &:focus {
            outline-color: $color-japaneselaurel;
        }
    }

    button {
        border-radius: 5px;
        background: lavenderblush;
        color: $color-japaneselaurel;
    }

    a,
    input::placeholder {
        font-size: 12px;
    }

    .container {
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        >.row {
            max-width: 896px;
            padding: 20px;
            box-sizing: border-box;

            &.two-columns {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                gap: 20px;
            }
        }

        .login-container,
        .register-container {
            border-radius: 5px;
        }

        .login-container {
            background-color: $primary-color;

            input {
                color: $primary-color;
            }

            .forgot-password {
                color: $color-orangered;
            }
        }

        .register-container {
            background-color: $secondary-color;

            input {
                color: $secondary-color;
            }
        }
    }
}