// Components
@import './components/toast.scss';
@import './components/login-register.scss';
@import './components/sidebar.scss';

// Pages
@import './pages/dashboard.scss';
@import './pages/404.scss';

// GLOBALS
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

section,
main {
    flex: 1;
}

button.btn-primary {
    padding: 5px 15px;
    border-radius: 20px;
    background: $color-dark-gunmetal;
    color: $color-inchworm;
}

.anchor-primary {
    border-radius: 5px;
    background: $color-inchworm;
    color: $color-dark-gunmetal;
}

footer {
    color: $color-inchworm;
}