<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express.js with EJS and Webpack</title>
</head>
<body>
    <h1>Hello, World From Express JS Server!</h1>
    <div id="app"></div>
</body>
</html>
